footer#footer.footer.l-footer
    .l-footer__inner
        .l-footer__logo
            nav.footer__nav
                ul.footer__nav-list
                    li.footer__nav-item
                        a(href="") コンテンツ
                    li.footer__nav-item
                        a(href="") コンテンツ
                    li.footer__nav-item
                        a(href="") コンテンツ
script(src="./assets/js/script.js" defer)