header#header.header.l-header
    .l-header__inner
        h1.header__logo
        nav.header__nav
            ul.header__nav-list
                li#company.header__nav-item
                    a(href="#company")
                li#company.header__nav-item
                    a(href="#about")